extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.fb.firstName}. Check your details below:
						div.signup-wall
							img(src=user.fb.photos)
							ul.user-details
								li Email    : #{user.fb.email}
								li First Name : #{user.fb.firstName}
								li Last Name : #{user.fb.lastName}
								li Display Name : #{user.fb.displayName}
								li ID : #{user.fb.id}
								li Gender : #{user.fb.gender}
								li
									a(href=user.fb.accUrl) Facebook profile
						//a(href="/") go to 3000 page
						//br
						a(href="/deleteUserVerify") Delete account from RideApp Database
						br
						a(href='/signout', class='text-center new-account') Sign Out