extends layout

block content
  h3 Rides
  //ul
  //  each ride, i in ridelist
  //    li#ride_list_item
  //      p #{ride.name} departs from #{ride.departing}, at #{ride.time}. Contact at #{ride.email} for more information
  //    br

  table(style="width:100%")
    tr
      th.tdata FB Profile
      th.tdata Name
      th.tdata Departing
      th.tdata Arriving
      th.tdata Date
      th.tdata Time
      th.tdata Email
    each ride, i in ridelist
      tr.tabRow
        td.tdata 
          //img(src='https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/11037347_972429526101450_2983766558226951063_n.jpg?oh=ab80742059fdf52dbec66afb2658a72f&oe=57CF8CCC')
          a(href=ride.user_ref.fb.accUrl)
            img(src=ride.user_ref.fb.photos)
        td.tdata #{ride.person} 
        td.tdata #{ride.departing}
        td.tdata #{ride.arriving}
        td.tdata #{ride.date}
        //
          - var d = new Date(ride.time);
          - console.log(d);
          - console.log(h);
          - var h = d.getHours()
        td.tdata #{ride.time}
        td.tdata #{ride.email}
